/* .criminal {
  border: solid 2px rgb(156, 152, 152);
  margin: 10px;
  flex: 15%;
  padding: 10px;
}
.criminalList {
  display: flex;
  flex-wrap: wrap;
}
.officer {
  border: solid 2px rgb(156, 152, 152);
  margin: 10px;
  flex: 15%;
  padding: 10px;
}
.officerList {
  display: flex;
  flex-wrap: wrap;
} */

.criminalsList,
.officersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.criminal,
.officer {
  border: 1px dotted black;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-basis: 25%;
}
